<div class="col s12">
  <h5 class="left">&Uuml;bersicht</h5>
  <a href="cars/new" class="right waves-effect waves-light btn green lighten-1">
    <i class="material-icons left">add</i>
    Neuer Eintrag
  </a>
</div>
<div class="col s12" style="margin-top: 30px">
  <table class="bordered responsive-table kfz-table z-depth-1 centered">
    <thead>
      <tr>
        <th data-field="id">Fahrzeug</th>
        <th data-field="name">Kennzeichen</th>
        <th data-field="actions">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.name %></td>
          <td><%= car.mark %></td>
          <td>
            <a
              href="cars/<%= car.id %>/edit"
              class="waves-effect waves-light btn grey darken-3 tooltipped"
              data-position="top"
              data-delay="300"
              data-tooltip="Fahrzeug bearbeiten">
              <i class="material-icons">settings</i>
            </a>
            <a
              href="#deletemodal<%= car.id %>"
              class="waves-effect waves-light btn red lighten-1 tooltipped modal-trigger"
              data-position="top"
              data-delay="300"
              data-tooltip="Fahrzeug löschen">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% @cars.each do |car| %>
  <div id="deletemodal<%= car.id %>" class="modal bottom-sheet">
    <div class="modal-content">
      <h5>Möchtest du wirklich <i><%= car.name %></i> löschen?</h5>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
      <a href="cars/<%= car.id %>" data-method="delete" class="modal-action modal-close waves-effect waves-green btn-flat">Ja</a>
    </div>
  </div>
<% end %>
